@{
    ViewData["Title"] = "Home Page";
}

<style>
    .masthead {
        height: 100%;
        min-height: 500px;
        /*background-image: url('img/dlanor-s-2xEQDxB0ss4-unsplash.jpg');*/
        background-image: url('img/portfolio banner 1.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
</style>


<header class="masthead">
    <div class="container h-100">
        <div class="row h-100" style="padding-top: 15%">
            @*<div class="col-12 text-center">*@
            <div style="color:white; text-shadow: 2px 2px 8px #454545">
                <h1 class="font-weight-light">Omar Gutierrez</h1>
                <p class="lead">Fullstack web developer</p>
            </div>
        </div>
    </div>
</header>


<div class="container">
    <div class="row align-items-center">
        <div class="col">
            Omar Gutierrez
            Fullstack software developer
        </div>
    </div>
</div>



@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
    <div class="text-center">
        <h1 class="display-4">Omar Gutierrez</h1>
    </div>*@