@{
    ViewData["Title"] = "Omar Gutiérrez - Past Projects";
}


<div id="wrapper" class="fade-in">



    <!-- Intro -->
    <div id="intro">

        <div class="circle" style="background-image:url('/img/omargutierrez.jpg')">

        </div>

        <h1>
            I'm a fullstack
            <br />
            developer
        </h1>
        <p style="text-shadow: black 3px 3px 3px;">
            My name is Omar Gutierrez (Aka <a href="https://twitter.com/omar_guuu" target="_blank">@@omar.guuu</a>)
            <br />
            and im a software engineer and fullstack developer
        </p>
        <ul class="actions">
            <li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
        </ul>
    </div>

    <!-- Header -->
    <header id="header">
        <a class="logo">Massively</a>
    </header>

    <!-- Nav -->
    <nav id="nav">
        <ul class="links">
            <li><a href="@Url.Action("Index", "Home")">About Me</a></li>
            <li class="active"><a>Past projects</a></li>
            @*<li><a href="elements.html">Elements Reference</a></li>*@
        </ul>
        <ul class="icons">
            <li><a href="https://www.linkedin.com/in/omar-guuu/" class="icon brands fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
            <li><a href="https://twitter.com/omar_guuu" class="icon brands fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
            <li><a href="https://www.instagram.com/omar.guuu/" class="icon brands fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
            <li><a href="https://github.com/omar-guuu" class="icon brands fa-github" target="_blank"><span class="label">GitHub</span></a></li>
        </ul>
    </nav>

    <!-- Main -->
    <div id="main">

        <!-- Featured Post -->
        <!--<article class="post featured">
            <header class="major">-->
                @*<span class="date">April 25, 2017</span>*@
                <!--<h2>
                    <a>
                        Past Projects
                    </a>
                </h2>
                <p>
                    This is some of the projects i have worked o
                </p>
            </header>-->
            @*<a href="#" class="image main"><img src="~//img/portfolio banner 1.jpg" alt="" /></a>*@
            @*<ul class="actions special">
                <li><a href="#" class="button large">Full Story</a></li>
            </ul>*@
        <!--</article>-->

        <article class="post featured">
            <header class="major">
                @*<span class="date">April 25, 2017</span>*@
                <h2>
                    <a>
                        Past projects
                    </a>
                </h2>
                <p>
                    Some of the past projects i have worked on.
                </p>
            </header>
            @*<a href="#" class="image main"><img src="~//img/portfolio banner 1.jpg" alt="" /></a>*@
            @*<ul class="actions special">
                <li><a href="#" class="button large">Full Story</a></li>
            </ul>*@
        </article>

        @*<section class="posts">
            <h2>STACK KNOWLEDGE</h2>
            <p>
                This section it's about which tecnologies i'm proficent with, or i have used through my carrer.
            </p>
        </section>*@

        <!-- Posts -->
        <section class="posts">

            <article>
                <header>
                    <span class="date">October 2016 - January 2017</span>
                    <h2>
                        <a>
                            C&A Systems                         
                        </a>
                    </h2>
                </header>
                <a class="image fit"><img src="/img/proj_ca.webp" alt="C&A" /></a>
                <p>
                    Sharepoint developer, setting up websites on the Sharepoint platform, which involved handling of images, HTML code, Javascript and use of Sharepoint
                    <br />
                    Write documentation for a project related to the Mexican Ministry of Economy.
                </p>
                <ul class="actions special">
                    <li><a href="https://www.casystem.com.mx/" class="button" target="_blank">Website</a></li>
                </ul>
            </article>

            <article>
                <header>
                    <span class="date">January 2017 - May 2018</span>
                    <h2>
                        <a>
                            Polytechnic University of Tecámac
                        </a>
                    </h2>
                </header>
                <a class="image fit"><img src="/img/proj_upt.webp" alt="UPT" /></a>
                <p>
                    Backend and frontend development in the SUIA (Unique School Information System)
                    <br />
                    Guidance for interns doing social service at the university
                </p>
                @*<ul class="actions special">
                    <li><a href="#" class="button">Website</a></li>
                </ul>*@
            </article>

            <article>
                <header>
                    <span class="date">August 2018 - November 2020</span>
                    <h2>
                        <a href="#">
                            Kubo Digital
                        </a>
                    </h2>
                </header>
                <a class="image fit"><img src="/img/proj_kd.webp" alt="KD" /></a>
                <p>
                    Backend and Frontend developer for the Ventiapp platform <a href="https://ventiapp.com" target="_blank">[ventiapp.com]</a>
                    <br />
                    Various Ecommerce integrations such as Prestashop, WooCommerce, MercadoLibre, Amazon via API with the Ventiapp platform
                    <br />
                    Backend and frontend developer for the onbaseU platform <a href="http://www.onbaseu.com" target="_blank">[www.onbaseu.com]</a> 
                    <br />
                    Backend development to integrate ASPEL SAE with Ventiapp
                    <br />
                    Backend and frontend development for the Somos Reyes company website  <a href="https://www.somos-reyes.com" target="_blank">[www.somos-reyes.com]</a> 
                    <br />
                    MGMT of projects, continuous deployment under deadlines, client communications
                </p>
                <ul class="actions special">
                    <li><a href="https://www.kubodigital.com/" class="button" target="_blank">Website</a></li>
                </ul>
            </article>

            <article>
                <header>
                    <span class="date">To be continued</span>
                    <h2>
                        <a href="#">
                            Next Project<br />
                        </a>
                    </h2>
                </header>
                <a class="image fit"><img src="/img/proj_next.webp" alt="Next" /></a>
                <p>Im always looking to expand my knowledge to new horizons, if you are loking at this it's because you are interested in what i do, so who knows, maybe we can start a new adventure together</p>
                @*<ul class="actions special">
                    <li><a href="#" class="button">Full Story</a></li>
                </ul>*@
            </article>

        </section>

        <!-- Footer -->
        <!--<footer>
        <div class="pagination">-->
        <!--<a href="#" class="previous">Prev</a>-->
        <!--<a href="#" class="page active">1</a>
            <a href="#" class="page">2</a>
            <a href="#" class="page">3</a>
            <span class="extra">&hellip;</span>
            <a href="#" class="page">8</a>
            <a href="#" class="page">9</a>
            <a href="#" class="page">10</a>
            <a href="#" class="next">Next</a>
        </div>
    </footer>-->

        <footer>
            <div class="major">
                <h2>
                    <a>
                        Stay in touch
                    </a>
                </h2>
                <p>
                    If you are interested in my work please consider donating below, i'll appreciate a lot! <br />
                    Or for business matters please reach me at any of the mediums below.
                </p>
            </div>
        </footer>

    </div>

    <!-- Footer -->
    <footer id="footer">


        <section>
            <section class="split contact">
                <h3>Donations</h3>
            </section>
            <section>
                <h3>Buy me a coffee</h3>
                <p><a href="https://www.buymeacoffee.com/omar.guuu" target="_blank">For small tips</a></p>
            </section>
            @*<form method="post" action="#">
            <div class="fields">
                <div class="field">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" />
                </div>
                <div class="field">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" />
                </div>
                <div class="field">
                    <label for="message">Message</label>
                    <textarea name="message" id="message" rows="3"></textarea>
                </div>
            </div>
            <ul class="actions">
                <li><input type="submit" value="Send Message" /></li>
            </ul>
        </form>*@
        </section>
        <section class="split contact">
            <section class="alt">
                <h3>Business Matter</h3>           
            </section>
            @*<section class="alt">
            <h3>Address</h3>
            <p>
                1234 Somewhere Road #87257<br />
                Nashville, TN 00000-0000
            </p>
        </section>
        <section>
            <h3>Phone</h3>
            <p><a href="#">(000) 000-0000</a></p>
        </section>*@
            <section>
                <h3>Email</h3>
                <p><a href="mailto:omar_gutierrez_s@hotmail.com">omar_gutierrez_s@hotmail.com</a></p>
            </section>
            <section>
                <h3>Social</h3>
                <ul class="icons alt">
                    <li><a href="https://www.linkedin.com/in/omar-guuu/" class="icon brands fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
                    <li><a href="https://twitter.com/omar_guuu" class="icon brands alt fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
                    @*<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>*@
                    <li><a href="https://www.instagram.com/omar.guuu/" class="icon brands alt fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
                    <li><a href="https://github.com/omar-guuu" class="icon brands alt fa-github" target="_blank"><span class="label">GitHub</span></a></li>
                </ul>
            </section>
        </section>
    </footer>

    <!-- Copyright -->
    <div id="copyright">
        <ul><li>&copy; Omar Gutierrez @@ @DateTime.Today.Year.ToString()</li></ul>
    </div>

</div>